<div class="fixed-bottom">
  <ion-footer>
    <ion-toolbar class="ion-text-end">
      <ion-button shape="round" color="warning" (click)="navigateToLogin()">
        Start
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</div>
