<ion-content fullscreen class="ion-no-padding">
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="home"
          text=""
          icon="chevron-back-outline"
        ></ion-back-button>
      </ion-buttons>
      <ion-title translate>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="dashboard-bg-col"
        ><ion-img
          class="logo__image"
          src="../../../assets/images/profile-bg.png"
          [attr.alt]="'Restaurant_Logo' | translate"
        ></ion-img
      ></ion-col>
    </ion-row>
    <div class="profile_content">
      <ion-row *ngIf="authUser?.user_info.first_name">
        <ion-col translate>Name</ion-col>
        <ion-col size="8"
          >{{authUser?.user_info.first_name}}&nbsp;{{authUser?.user_info.last_name}}</ion-col
        >
      </ion-row>

      <ion-row *ngIf="authUser?.user_info.mail">
        <ion-col translate>Email</ion-col>
        <ion-col size="8">{{authUser?.user_info.mail}}</ion-col>
      </ion-row>

      <ion-row *ngIf="authUser?.user_info.phone">
        <ion-col translate>Mobile_Number</ion-col>
        <ion-col size="8">{{authUser?.user_info.phone}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span class="logout_button" (click)="logoutAction()" translate
            >Logout</span
          >
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
