ion-content {
  --background: var(--ion-background, #000000);
}
ion-header ion-toolbar:first-of-type {
  --background: var(--ion-background, #000000);
  color: var(--ion-font, #ffffff);
  // box-shadow: 0px 2px 0px var(--ion-font, #ffffff) !important; 
}
ion-grid {
  color: var(--ion-font, #ffffff);
  padding: 0;
}
.dashboard-bg-col {
  padding: 0;
}
.back-icon {
  font-size: 33px;
}
.profile_name{
  vertical-align: super;
}
// ion-button {
//   color: var(--ion-font, #ffffff);
// }

.profile_content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  background-color: #8CB58D;
  border-radius: 20px;
}

.logout_button {
  font-style: italic;
  color: #00000087;
}