<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/images/logo.png" />
    <h3>A Powerful Online Ordering System Built For Your Restaurant</h3>
    <p>Experience more orders, bigger order sizes and more revenues!</p>
  </ion-slide>
  <ion-slide>
    <h2>The Power Packed Features Of Restolabs To Amplify Your Business</h2>
    <ion-list>
      <ion-item>
        <ion-label>QUICK MENU SET UP</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>EASY ORDER MANAGEMENT</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>MULTILINGUAL SUPPORT</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>INBUILT MARKETING TOOLS</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>ANALYTICS</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>DEDICATED SUPPORT</ion-label>
      </ion-item>
    </ion-list>
  </ion-slide>
</ion-slides>
