ion-icon {
  margin: 5px !important;
}

ion-header ion-toolbar:first-of-type {
  --background: var(--ion-background, #000000);
  color: var(--ion-font, #ffffff);
  // box-shadow: 0px 2px 0px var(--ion-font, #ffffff) !important;
}

ion-content {
  --background: var(--ion-background, #000000);
}

ion-item {
  border-radius: 12px;
  border: none;
}
// ion-button {
//   color: var(--ion-font, #ffffff);
// }
ion-grid {
  color: var(--ion-font, #ffffff);
  margin: 20px;
  background-color: #8CB58D;
  border-radius: 20px;
}

ion-checkbox {
  margin-right: 5px;
}

.privacy__policy {
  vertical-align: top;
}

.ext__link {
  vertical-align: top;
  color: #3880ff;
}

.skip {
  color: #ffffff;
  background-color: #3880ff;
  --border-radius: 4px;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 1.1em;
  --padding-end: 1.1em;
  --transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 15ms linear, color 15ms linear;
}

ion-input {
  margin-left: 15px !important;
}

.terms_wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 11px;
  margin: 1em 0;
  a {
    color: #000;
    margin-right: 5px;
    text-decoration: underline;
  }
}

.terms_checkbox {
  display: none;
}

.already_have_account {
  text-align: center;
  margin-top: 25px;
}

.sign-up-button-row {
  text-align: center;
  margin: 1em 0;
}

.sign-up-button {
  --border-radius: 0;
  --padding-start: 15vw;
  --padding-end: 15vw;
}

.ion-toolbar-custom {
  display: flex;
  padding-right: 10px;
}

.have_account_link {
  cursor: pointer;
}
