<ion-content fullscreen class="ion-no-padding">
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          text=""
          icon="chevron-back-outline"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-button
          class="ion-float-right"
          size="full"
          fill="solid"
          size="small"
          (click)="goToWebview()"
          translate
        >
          Skip_Sign_Up</ion-button
        >
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img
    class="logo__image"
    src="../../../assets/images/register-bg.png"
    [attr.alt]="'Restaurant_Logo' | translate"
  >
  </ion-img>
  <!-- <ion-item>
    <ion-select
      [(ngModel)]="language"
      [value]="language"
      (ionChange)="changeLanguage()"
    >
      <ion-select-option
        *ngFor="let language of languages"
        value="{{language[0]}}"
        >{{language[1]}}</ion-select-option
      >
    </ion-select>
  </ion-item> -->

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="person-outline" slot="start"></ion-icon> -->
          <ion-input
            type="text"
            class="form-control"
            autocomplete="off"
            placeholder="{{'First_Name' | translate}}*"
            required
            [(ngModel)]="postData.first_name"
            #first_name="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="first_name.errors.required" class="invalid">
            First Name is required.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="person-outline" slot="start"></ion-icon> -->
          <ion-input
            autocomplete="off"
            type="text"
            required
            placeholder="{{'Last_Name' | translate}}*"
            [(ngModel)]="postData.last_name"
            #last_name="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="last_name.errors.required" class="invalid">
            Last Name is required.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="mail-outline" slot="start"></ion-icon> -->
          <ion-input
            autocomplete="off"
            type="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            placeholder="{{'Email' | translate}}*"
            [(ngModel)]="postData.usermail"
            #usermail="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="usermail.invalid && (usermail.dirty || usermail.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="usermail.errors.required" class="invalid">
            Email is required.
          </p>
          <p *ngIf="usermail.errors.pattern" class="invalid">
            Please enter valid email address.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="call-outline" slot="start"></ion-icon> -->
          <ion-input
            autocomplete="off"
            type="tel"
            required
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            placeholder="{{'Mobile_Number' | translate}}*"
            [(ngModel)]="postData.userphone"
            #userphone="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="userphone.invalid && (userphone.dirty || userphone.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="userphone.errors.required" class="invalid">
            Mobile Number is required.
          </p>
          <p *ngIf="userphone.errors.pattern" class="invalid">
            Mobile Number must be 10 digits long.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="lock-closed-outline" slot="start"></ion-icon> -->
          <ion-input
            autocomplete="off"
            type="password"
            required
            minlength="6"
            placeholder="{{'Password' | translate}}*"
            [(ngModel)]="postData.password"
            #password="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="password.errors.required" class="invalid">
            Password is required.
          </p>
          <p *ngIf="password.errors.minlength" class="invalid">
            Password must be at least 6 characters long.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="terms_checkbox">
      <ion-col>
        <ion-checkbox [(ngModel)]="isChecked" checked="true"></ion-checkbox>
        <span class="privacy__policy"
          ><span style="padding-right: 5px" translate>Agree_to</span>
          <span class="ext__link" (click)="goToPrivacyLink()" translate
            >Privacy_Policy</span
          >
          <span style="padding: 0 5px" translate>And</span>
          <span class="ext__link" (click)="goToTermsLink()" translate
            >Terms_Conditions</span
          >.</span
        >
      </ion-col>
    </ion-row>
    <ion-row class="sign-up-button-row">
      <ion-col>
        <ion-button
          class="sign-up-button"
          size="full"
          fill="solid"
          size="large"
          (click)="signup()"
          translate
          >Sign_Up</ion-button
        >
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-button size="block" (click)="goToWebview()" translate
          >Skip_Sign_Up</ion-button
        >
      </ion-col>
    </ion-row> -->
    <ion-row class="already_have_account">
      <ion-col>
        <span class="have_account_link" (click)="goToLogIn()" translate
          >Have_Account</span
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <div class="terms_wrapper">
      <span translate>By_continue</span>
      <span>
        <a (click)="goToTermsLink()" translate>Terms_Conditions</a>
        <a (click)="goToPrivacyLink()" translate>Privacy_Policy</a>
      </span>
    </div>
  </ion-row>
</ion-content>
