<ion-content fullscreen class="ion-no-padding">
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          text=""
          icon="chevron-back-outline"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-button
          class="ion-float-right"
          size="full"
          fill="solid"
          size="small"
          (click)="goToWebview()"
          translate
        >
          Skip_Sign_Up</ion-button
        >
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img
    class="logo__image"
    src="../../../assets/images/forget-pass-bg.png"
    [attr.alt]="'Restaurant_Logo' | translate"
  ></ion-img>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <p class="forget_pass_statement" translate>Forgot_Password</p>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="mail-outline" slot="start"></ion-icon> -->
          <ion-input
            autocomplete="off"
            type="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            placeholder="{{'Email' | translate}}*"
            [(ngModel)]="postData.usermail"
            #usermail="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="usermail.invalid && (usermail.dirty || usermail.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="usermail.errors.required" class="invalid">
            Email is required.
          </p>
          <p *ngIf="usermail.errors.pattern" class="invalid">
            Please enter valid email address.
          </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="sign-up-button-row">
      <ion-col>
        <ion-button
          class="sign-up-button"
          size="full"
          fill="solid"
          size="large"
          (click)="submit()"
          translate
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row class="already_have_account">
      <ion-col>
        <span class="have_account_link" (click)="goToLogIn()" translate
          >Have_Account</span
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <div class="terms_wrapper">
      <span translate>By_continue</span>
      <span>
        <a (click)="goToTermsLink()" translate>Terms_Conditions</a>
        <a (click)="goToPrivacyLink()" translate>Privacy_Policy</a>
      </span>
    </div>
  </ion-row>
</ion-content>
