ion-icon {
  margin: 5px !important;
}

ion-header ion-toolbar:first-of-type {
  --background: var(--ion-background, #000000);
  color: var(--ion-font, #ffffff);
  // box-shadow: 0px 2px 0px var(--ion-font, #ffffff) !important;
}

ion-content {
  --background: var(--ion-background, #000000);
}

ion-item {
  border-radius: 12px;
  border: none;}
// ion-button {
//   color: var(--ion-font, #ffffff);
// }
ion-grid {
  color: var(--ion-font, #ffffff);
  margin: 20px;
  background-color: #8CB58D;
  border-radius: 20px;
}

ion-input {
  margin-left: 15px !important;
}
.terms_wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 11px;
  margin: 1em 0;
  a {
    color: #000;
    margin-right: 5px;
    text-decoration: underline;
  }
}

.terms_checkbox {
  display: none;
}

.already_have_account {
  text-align: center;
  margin-top: 25px;
}

.sign-up-button-row {
  text-align: center;
  margin: 1em 0;
}

.sign-up-button {
  --border-radius: 0;
  --padding-start: 15vw;
  --padding-end: 15vw;
}

.ion-toolbar-custom {
  display: flex;
  padding-right: 10px;
}

.have_account_link {
  cursor: pointer;
}

.forget_pass_statement {
  padding-left: 15px;
}

.back-icon {
  font-size: 24px;
}

.sign-login-row {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  span {
    margin: 10px 0;
  }
}