<ion-content fullscreen class="ion-no-padding">
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          text=""
          icon="chevron-back-outline"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-button
          class="ion-float-right"
          size="full"
          fill="solid"
          size="small"
          (click)="goToWebview()"
          translate
        >
          Skip_Sign_Up</ion-button
        >
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img
    class="logo__image"
    src="../../../assets/images/login-bg.png"
    [attr.alt]="'Restaurant_Logo' | translate"
  ></ion-img>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="mail-outline" slot="start"></ion-icon> -->
          <ion-input
            autocomplete="off"
            type="email"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            placeholder="{{'Email' | translate}}*"
            [(ngModel)]="postData.usermail"
            #usermail="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="usermail.invalid && (usermail.dirty || usermail.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="usermail.errors.required" class="invalid">
            Email is required.
          </p>
          <p *ngIf="usermail.errors.pattern" class="invalid">
            Please enter valid email address.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding">
          <!-- <ion-icon name="lock-closed-outline" slot="start"></ion-icon> -->
          <ion-input
            autocomplete="off"
            type="password"
            required
            minlength="6"
            placeholder="{{'Password' | translate}}*"
            [(ngModel)]="postData.password"
            #password="ngModel"
          >
          </ion-input>
        </ion-item>
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert-danger"
        >
          <p *ngIf="password.errors.required" class="invalid">
            Password is required.
          </p>
          <p *ngIf="password.errors.minlength" class="invalid">
            Password must be at least 6 characters long.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="sign-up-button-row">
      <ion-col>
        <ion-button
          class="sign-up-button"
          size="full"
          fill="solid"
          size="large"
          (click)="loginAction()"
          translate
          >sign_in</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="sign-login-row">
        <span (click)="goToForgotPassword()" translate
          >Forgot_Password<span>?</span></span
        >
        <span (click)="goToSignUp()" translate
          >Create_Account<span>?</span></span
        >
      </div>
    </ion-row>
  </ion-grid>
  <ion-row>
    <div class="terms_wrapper">
      <span translate>By_continue</span>
      <span>
        <a (click)="goToTermsLink()" translate>Terms_Conditions</a>
        <a (click)="goToPrivacyLink()" translate>Privacy_Policy</a>
      </span>
    </div>
  </ion-row>
</ion-content>
