.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
ion-content {
  --background: var(--ion-background, #000000);
}

div {
  padding: 20% 0;
}

h1 {
  color: var(--ion-font, #ffffff);
}

.dashboard {
  padding: 10% 0;
}

ion-header ion-toolbar:first-of-type {
  --background: var(--ion-background, #000000);
  color: var(--ion-font, #ffffff);
  // box-shadow: 0px 2px 20px var(--ion-font, #ffffff) !important;
}

ion-header {
  margin-bottom: 0;
}

.order__now__button {
  --padding-start: 10px;
}

.logo__image {
  // opacity: 0.5;
  box-shadow: 0px 0px 20px 20px #ffffff;
  border-radius: 4px;
}

.order__now__thumbnail {
  width: 36px;
  object-fit: contain;
  margin-right: 5px;
}

.sign-up-button-row {
  text-align: center;
  margin: 0;
}

.sign-up-button {
  --border-radius: 0;
  --padding-start: 15vw;
  --padding-end: 15vw;
}

.dashboard-bg-col {
  padding: 0;
  margin-bottom: -50px;
}

ion-grid {
  padding: 0;
  margin-top: -45px;
}
