<ion-content>
  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col class="dashboard-bg-col"
          ><ion-img
            class="logo__image"
            src="../../../assets/images/dashboard-bg.png"
            [attr.alt]="'Restaurant_Logo' | translate"
          ></ion-img
        ></ion-col>
      </ion-row>
      <ion-row class="sign-up-button-row">
        <ion-col class="ion-text-center dashboard">
          <ion-button
            size="full"
            fill="solid"
            size="large"
            class="order__now__button sign-up-button"
            (click)="goToWebview()"
            translate
            >Order_Now</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
