<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark-shade">
    <ion-tab-button tab="dashboard">
      <ion-icon name="basket"></ion-icon>
      <ion-label translate>Ordering</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label translate>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
